/* CSS document */

body {
  font-family: 'Cormorant', serif;
}
h1, h3, footer {
  font-family: 'Darker Grotesque', sans-serif;
}
h3 {
color: red;
}
blockquote {
  padding: .4rem .6rem;
  background: #ccc;
  font-family: "Courier New", Serif;
}
.blockquote-header {
  font: bold 90% 'Darker Grotesque', sans-serif;
}
.bq-with-top-margin {
  margin-top: 1rem;
}
ul {
  list-style-type: circle;
}
.search-result {
  list-style: none;
}
.result, .search-result p {
  border-bottom: 2px dashed #cca;
}
th, td {
  padding: 2em 1em;
}
.section-bg {
  padding: .4rem .8rem;
  border: 2px solid #026873;
  margin-bottom: .8rem;
}
.section-bg h3 {
  color: #A68B03;
}
.section-bg a {
  color: #038C8C;
}
.section p {
  color: #d9cb04;
}
.orderable {
  font: normal bold 16px Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
