{% extends 'viewssandbox/base.html' %}

{% block title %}Class Based View ListView{% endblock %}

{% block content %}
    <h1>Class Based View LIST</h1>

    <h3>User List</h3>

    {% if object_list %}
    <ul>
        <!-- if you don't set a context_object_name in the view, object_list becomes the default -->
        {% for user_info in object_list %}
        <li>First: {{ user_info.first_name }}</li>
        <li>Last: {{ user_info.last_name }}</li>
        <li>Date attending: {{ user_info.attend_date}}</li>
        <li>Email: {{ user_info.email }}</li>
        {% endfor %}
    </ul>
        {% else %}
        <p>There are no users in the system at this time.</p>
    {% endif %}

    <blockquote>
        <header class="blockquote-header">- views.py</header>
        class UserInfoListView(generic.ListView):<br/>
        &nbsp;&nbsp; model = UserInfo<br/>
        &nbsp;&nbsp; template_name = 'viewssandbox/CBV_list.html'
    </blockquote>
{% endblock %}