{% extends 'viewssandbox/base.html' %}

{% block title %}Class Based View ListView{% endblock %}

{% block content %}
    <h1>Class-based View (list view)</h1>

    <form action="{% url 'viewssandbox:cbvsearch' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>

    <h3>User List</h3>

    {% if object_list %}
    <ul>
        <!-- if you don't set a context_object_name in the view, object_list becomes the default -->
        {% for user_info in object_list %}
        <li class="result">
            First: {{ user_info.first_name }}<br>
            Last: {{ user_info.last_name }}<br>
            Date attending: {{ user_info.attend_date}}<br>
            Email: {{ user_info.email }}<br>
            Status: {{ user_info.status }}
        </li>
        {% endfor %}
    </ul>
        {% else %}
        <p>There are no users in the system at this time.</p>
    {% endif %}

    <blockquote>
        <header class="blockquote-header">- views.py</header>
        class UserInfoListView(generic.ListView):<br/>
        &nbsp;&nbsp; model = UserInfo<br/>
        &nbsp;&nbsp; template_name = 'viewssandbox/CBV_list.html'
    </blockquote>
{% endblock %}