{% extends 'viewssandbox/base.html' %}

{% block title %}SEARCH RESULTS{% endblock %}

{% block content %}
        <h1>Function Based View LIST SEARCH Results page</h1>

        <h3>Search Results</h3>
        {% if object_list%}
        <ul>
            {% for user in object_list %}
            <li class="search-result">
                <p>{{ user.first_name }} {{ user.last_name }}</p>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Sorry, no results were returned.</p>
        {% endif %}
{% endblock %}