{% extends 'viewssandbox/base.html' %}

{% block title %}Simple template{% endblock %}

{% block content %}
    <h1>Function Based View LIST</h1>

    <form action="#" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>

    <h3>User List</h3>

    {% if total_users %}
    <ul>
        <!-- context (total_users) is defined in the view, if it wasn't the default context would be object_list -->
        {% for user_info in total_users %}
        <li class="result">
            First: {{ user_info.first_name }}<br>
            Last: {{ user_info.last_name }}<br>
            Date attending: {{ user_info.attend_date}}<br>
            Email: {{ user_info.email }}<br>
        </li>
        {% endfor %}
    </ul>
        {% else %}
        <p>There are no users in the system at this time.</p>
    {% endif %}
    <blockquote>
        <header class="blockquote-header">- views.py</header>
        def fbvlist(request):<br>
        &nbsp;&nbsp; total_users = UserInfo.objects.all()<br><br>

        &nbsp;&nbsp; context = {<br>
        &nbsp;&nbsp;&nbsp; 'total_users': total_users,<br>
        &nbsp;&nbsp; }<br><br>

        &nbsp;&nbsp; return render(request, 'viewssandbox/FBVlist.html', context=context)
    </blockquote>
{% endblock %}
