{% extends 'viewssandbox/base.html' %}

{% block title %}Simple template{% endblock %}

{% block content %}
<h1 class="landing-hdr">Views Sandbox</h1>
<section>
    <article>
        <p>This is a Django 2 web application which serves as a sandbox, test area, and reference by example for working with Django views.</p>
        <p>Simple - an example of a very basic view <a href="{% url 'viewssandbox:simple' %}">returning html text using the HttpResponse method</a>.</p>
    </article>
</section>
{% endblock %}