{% extends 'viewssandbox/base.html' %}

{% block title %}Test{% endblock %}
{% block extra_head_tags %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#id_attend_date" ).datepicker();
  } );
  </script>
{% endblock %}

{% block content %}

<p>Content of the document......</p>
<!-- the DateField in the form object will use the jQuery datepicker - see JS on the user_form html -->
<form method="post" novalidate>
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

    <blockquote class="bq-with-top-margin">
        <header class="blockquote-header">- views.py</header>
        def form_test(request):<br>
        &nbsp; if request.method == 'POST':<br>
        &nbsp;&nbsp;&nbsp; form = UserForm(request.POST)<br>
        &nbsp;&nbsp;&nbsp; if form.is_valid():<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; pass  # does nothing, just trigger the validation<br>
        &nbsp;&nbsp;else:<br>
        &nbsp;&nbsp;&nbsp; form = UserForm()<br>
        &nbsp;&nbsp;return render(request, 'viewssandbox/user_form.html', {'form': form})
    </blockquote>

<footer>
<script>
    $( "#id_attend_date" ).datepicker();
</script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</footer>
{% endblock %}
